html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  padding: 40px;
  background-image: url("../images/money-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form {
  margin: auto;
  text-align: center;
}

.form__fieldset {
  border-style: solid;
  border-color: hsl(136, 28%, 28%);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-color: hsl(136, 28%, 88%);
}

.form__legend {
  background-color: hsl(136, 28%, 28%);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.form__labelText {
  width: 100%;
  max-width: 150px;
  margin: 5px;
  display: inline-block;
  font-weight: 700;
}

.form__field {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 800px;
  border-radius: 10px;
  width: 100%;
}

.form__button {
  cursor: pointer;
  border-color: hsl(136, 28%, 28%);
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  margin: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(136, 28%, 28%);
  color: hsl(0, 0%, 100%);
  border-style: solid;
}

.form__button:active {
  background-color: hsl(136, 28%, 33%);
  border-color: hsl(136, 28%, 33%);
}

.form__button:hover {
  background-color: hsl(136, 28%, 38%);
  border-color: hsl(136, 28%, 38%);
}

.form__paragraph {
  margin: auto;
  text-align: center;
  font-size: 25px;
}

.form__result {
  color: hsl(136, 28%, 38%);
  font-weight: 700;
}
